body {
    font-family: Roboto;
}

.header {
    background-color: #1f2937;
    padding: 16px;  
    padding-left: 64px;
    padding-right: 64px;
    display: flex;
    align-items: center;
}

.title {
    display: flex;
    justify-content: flex-start;
    flex: 1;
    font-size: 24px;
    color: #f9faf8;
}

.links {
    display: flex;
    justify-content: flex-end;
    flex: 1 0;
    align-items: center;
}

ul {
    list-style: none;
    display: flex;
    color: #f9faf8;
}

ul {
    margin: 0px;
    padding: 0px;
    gap: 16px;
}

a {
    text-decoration: none;
}

.section1 {
    background-color: #1f2937;
    display: flex;
    padding: 64px;
}

.future {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    display: flex;
    
}

.description {
    font-size: 18px;
    color: #e5e7eb;
    display: flex; 
    flex-wrap: wrap;   
}

.left {
    display: flex;
    flex-direction: column;
    display: 1;
    flex-wrap: wrap;
    justify-content: center;
}

.right {
    display: flex;
    flex-grow: 1;
}

img {
    width: 800px;
    height: 400px;
}