body {
    font-family: Roboto;
}

.header {
    background-color: #1f2937;
    padding: 16px;  
    display: flex;
    align-items: center;
}

.title {
    display: flex;
    justify-content: flex-start;
    flex: 1;
    font-size: 24px;
    color: #f9faf8;
}

.links {
    display: flex;
    justify-content: flex-end;
    flex: 1 0;
    align-items: center;
}

ul {
    list-style: none;
    display: flex;
    color: #f9faf8;
}

ul {
    margin: 0px;
    padding: 0px;
    gap: 16px;
}

a {
    text-decoration: none;
}